p {
	margin: 0;
	padding: 0;
}

.eq_context {
	margin: 0 auto;
	color: #2C5F6C;
}

.p_top {
	width: 600px;
	text-align: left;
	padding: 5px 0 5px 10px;
}

.p_buttom {
	width: 1000px;
	text-align: left;
	padding: 5px 0 5px 10px;
}

.tt_prompt,.bt_prompt {
	overflow: hidden;
	clear: both;
	font-weight: bold;
	padding: 5px 0 15px 10px;
}

.tt_span {
	padding: 5px 0 15px 10px;
	clear: both;
}

.bt_t {
	margin: 0 10px 0 10px;
	width: 100px;
}

.bt_checkbox {
	margin-left: 20px;
}

.bt_button {
	float: right;
	margin-left: 30px;
	width: 50px;
	color: black;
}

.bt_buttonb {
	float: right;
	margin-left: 30px;
	width: 60px;
	color: black;
}

