<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.portal.mapper.JddBaserecordMapper">
	<resultMap id="BaseResultMap" type="com.portal.bean.JddBaserecord">
		<id column="GUID" property="guid" jdbcType="VARCHAR" />
		<result column="RELATION_ID" property="relationId" jdbcType="VARCHAR" />
		<result column="RULE_TYPE" property="ruleType" jdbcType="INTEGER" />
		<result column="COUNT" property="count" jdbcType="INTEGER" />
		<result column="REASON" property="reason" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_NAME" property="createName" jdbcType="VARCHAR" />
		<result column="RULE_GRAD" property="ruleGrad" jdbcType="VARCHAR" />
		<result column="RULE_FATHER" property="ruleFather" jdbcType="VARCHAR" />
		<result column="RULE_CHILD" property="ruleChild" jdbcType="VARCHAR" />
		<result column="SOURCE" property="source" jdbcType="VARCHAR" />
		<result column="IS_DELETED" property="isDeleted" jdbcType="INTEGER" />
		<result column="CHILD_NAME" property="childName" jdbcType="VARCHAR" />
		<result column="FATHER_NAME" property="fatherName" jdbcType="VARCHAR" />
		<result column="SOURCE_NAME" property="sourceName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		GUID, RELATION_ID, RULE_TYPE, COUNT, REASON, CREATE_BY, CREATE_TIME,
		CREATE_NAME,
		RULE_GRAD, RULE_FATHER, RULE_CHILD, SOURCE, IS_DELETED
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.portal.bean.JddBaserecordExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from JDD_BASERECORD
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from JDD_BASERECORD
		where GUID = #{guid,jdbcType=VARCHAR}
	</select>

	<!-- 根据条件查询(通用) -->
	<select id="selectByWhere" parameterType="com.portal.bean.JddBaserecordQuery"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		,
		(select r.CLASS_NAME from JDD_RULE r where r.GUID = t.RULE_CHILD) as
		CHILD_NAME,
		(select r.CLASS_NAME from JDD_RULE r where r.GUID = t.RULE_FATHER) as
		FATHER_NAME,
		(select p.PARAM_VALUE from SYS_PARAMETER p where p.GUID = t.SOURCE) as
		SOURCE_NAME
		FROM JDD_BASERECORD t
		WHERE IS_DELETED=0
		<if test="guid != null and guid != '' ">
			AND GUID = #{guid,jdbcType=VARCHAR}
		</if>
		<if test="ruleType != null ">
			AND RULE_TYPE = #{ruleType,jdbcType=INTEGER}
		</if>
		<if test="ruleGrad != null and ruleGrad != '' ">
			AND RULE_GRAD = #{ruleGrad,jdbcType=VARCHAR}
		</if>
		<if test="ruleFather != null and ruleFather != '' ">
			AND RULE_Father = #{ruleFather,jdbcType=VARCHAR}
		</if>
		<if test="ruleChild != null and ruleChild != '' ">
			AND RULE_CHILD = #{ruleChild,jdbcType=VARCHAR}
		</if>
		<if test="source != null and source != '' ">
			AND SOURCE = #{source,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null and startDate != '' ">
      	<![CDATA[ AND CREATE_TIME >= #{startDate,jdbcType=TIMESTAMP} ]]>
		</if>
		<if test="endDate != null and endDate != '' ">
      	<![CDATA[ AND CREATE_TIME < #{endDate,jdbcType=TIMESTAMP} + 1 ]]>
		</if>
		<if test="createBy != null and createBy != '' ">
			AND create_By = #{createBy,jdbcType=VARCHAR}
		</if>


		order by CREATE_TIME DESC
	</select>

	<!-- 查询后入和支出的总数 -->
	<select id="selectTotalNum" parameterType="com.portal.bean.JddBaserecordQuery"
		resultType="java.lang.Integer">
		SELECT COALESCE(SUM("COUNT"),0) FROM JDD_BASERECORD WHERE IS_DELETED=0
		<if test="createBy != null and createBy != '' ">
			AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
		</if>	
		<if test="ruleType != null ">
			AND RULE_TYPE = #{ruleType,jdbcType=INTEGER}
		</if>
		<if test="ruleChild != null and ruleChild != '' ">
			AND RULE_CHILD = #{ruleChild,jdbcType=VARCHAR}
		</if>
		<if test="ruleFather != null and ruleFather != '' ">
			AND RULE_FATHER = #{ruleFather,jdbcType=VARCHAR}
		</if>
		<if test="ruleGrad != null and ruleGrad != '' ">
			AND RULE_GRAD = #{ruleGrad,jdbcType=VARCHAR}
		</if>
		<if test="source != null and source != '' ">
			AND SOURCE = #{source,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null and startDate != '' ">
      	<![CDATA[ AND CREATE_TIME >= #{startDate,jdbcType=TIMESTAMP} ]]>
		</if>
		<if test="endDate != null and endDate != '' ">
      	<![CDATA[ AND CREATE_TIME < #{endDate,jdbcType=TIMESTAMP} + 1 ]]>
		</if>
		order by CREATE_TIME DESC
	</select>

	<!-- 根据条件查询 按类型分组统计信息 -->
	<select id="selectByWhereGroupBy" parameterType="com.portal.bean.JddBaserecordQuery"
		resultMap="BaseResultMap">
		SELECT
		RULE_TYPE,
		RULE_CHILD,
		SOURCE,
		(select r.class_name from JDD_RULE r where r.guid = t.rule_child) as
		CHILD_NAME,
		(select p.param_value from SYS_PARAMETER p where p.guid = t.source) as
		SOURCE_NAME,
		SUM(COUNT) as count
		FROM JDD_BASERECORD t
		WHERE IS_DELETED=0
		<if test="guid != null and guid != '' ">
			AND GUID = #{guid,jdbcType=VARCHAR}
		</if>
		<if test="ruleType != null ">
			AND RULE_TYPE = #{ruleType,jdbcType=INTEGER}
		</if>
		<if test="ruleChild != null and ruleChild != '' ">
			AND RULE_CHILD = #{ruleChild,jdbcType=VARCHAR}
		</if>
		<if test="source != null and source != '' ">
			AND SOURCE = #{source,jdbcType=VARCHAR}
		</if>
		<if test="startDate != null ">
      	<![CDATA[ AND CREATE_TIME >= #{startDate,jdbcType=TIMESTAMP} ]]>
		</if>
		<if test="endDate != null and endDate != '' ">
      	<![CDATA[ AND CREATE_TIME < #{endDate,jdbcType=TIMESTAMP}  + 1]]>
		</if>
		GROUP BY RULE_TYPE,RULE_CHILD,SOURCE
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from JDD_BASERECORD
		where GUID = #{guid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.portal.bean.JddBaserecordExample">
		delete from JDD_BASERECORD
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.portal.bean.JddBaserecord">
		insert into JDD_BASERECORD (GUID, RELATION_ID, RULE_TYPE,
		COUNT, REASON, CREATE_BY,
		CREATE_TIME, CREATE_NAME, RULE_GRAD,
		RULE_FATHER, RULE_CHILD, SOURCE,
		IS_DELETED)
		values (#{guid,jdbcType=VARCHAR}, #{relationId,jdbcType=VARCHAR},
		#{ruleType,jdbcType=INTEGER},
		#{count,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR},
		#{ruleGrad,jdbcType=VARCHAR},
		#{ruleFather,jdbcType=VARCHAR}, #{ruleChild,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR},
		#{isDeleted,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.portal.bean.JddBaserecord">
		insert into JDD_BASERECORD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				GUID,
			</if>
			<if test="relationId != null">
				RELATION_ID,
			</if>
			<if test="ruleType != null">
				RULE_TYPE,
			</if>
			<if test="count != null">
				COUNT,
			</if>
			<if test="reason != null">
				REASON,
			</if>
			<if test="createBy != null">
				CREATE_BY,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="createName != null">
				CREATE_NAME,
			</if>
			<if test="ruleGrad != null">
				RULE_GRAD,
			</if>
			<if test="ruleFather != null">
				RULE_FATHER,
			</if>
			<if test="ruleChild != null">
				RULE_CHILD,
			</if>
			<if test="source != null">
				SOURCE,
			</if>
			<if test="isDeleted != null">
				IS_DELETED,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="guid != null">
				#{guid,jdbcType=VARCHAR},
			</if>
			<if test="relationId != null">
				#{relationId,jdbcType=VARCHAR},
			</if>
			<if test="ruleType != null">
				#{ruleType,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
			<if test="reason != null">
				#{reason,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createName != null">
				#{createName,jdbcType=VARCHAR},
			</if>
			<if test="ruleGrad != null">
				#{ruleGrad,jdbcType=VARCHAR},
			</if>
			<if test="ruleFather != null">
				#{ruleFather,jdbcType=VARCHAR},
			</if>
			<if test="ruleChild != null">
				#{ruleChild,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				#{source,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.portal.bean.JddBaserecordExample"
		resultType="java.lang.Integer">
		select count(*) from JDD_BASERECORD
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update JDD_BASERECORD
		<set>
			<if test="record.guid != null">
				GUID = #{record.guid,jdbcType=VARCHAR},
			</if>
			<if test="record.relationId != null">
				RELATION_ID = #{record.relationId,jdbcType=VARCHAR},
			</if>
			<if test="record.ruleType != null">
				RULE_TYPE = #{record.ruleType,jdbcType=INTEGER},
			</if>
			<if test="record.count != null">
				COUNT = #{record.count,jdbcType=INTEGER},
			</if>
			<if test="record.reason != null">
				REASON = #{record.reason,jdbcType=VARCHAR},
			</if>
			<if test="record.createBy != null">
				CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createName != null">
				CREATE_NAME = #{record.createName,jdbcType=VARCHAR},
			</if>
			<if test="record.ruleGrad != null">
				RULE_GRAD = #{record.ruleGrad,jdbcType=VARCHAR},
			</if>
			<if test="record.ruleFather != null">
				RULE_FATHER = #{record.ruleFather,jdbcType=VARCHAR},
			</if>
			<if test="record.ruleChild != null">
				RULE_CHILD = #{record.ruleChild,jdbcType=VARCHAR},
			</if>
			<if test="record.source != null">
				SOURCE = #{record.source,jdbcType=VARCHAR},
			</if>
			<if test="record.isDeleted != null">
				IS_DELETED = #{record.isDeleted,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update JDD_BASERECORD
		set GUID = #{record.guid,jdbcType=VARCHAR},
		RELATION_ID = #{record.relationId,jdbcType=VARCHAR},
		RULE_TYPE = #{record.ruleType,jdbcType=INTEGER},
		COUNT = #{record.count,jdbcType=INTEGER},
		REASON = #{record.reason,jdbcType=VARCHAR},
		CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
		CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
		CREATE_NAME = #{record.createName,jdbcType=VARCHAR},
		RULE_GRAD = #{record.ruleGrad,jdbcType=VARCHAR},
		RULE_FATHER = #{record.ruleFather,jdbcType=VARCHAR},
		RULE_CHILD = #{record.ruleChild,jdbcType=VARCHAR},
		SOURCE = #{record.source,jdbcType=VARCHAR},
		IS_DELETED = #{record.isDeleted,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.JddBaserecord">
		update JDD_BASERECORD
		<set>
			<if test="relationId != null">
				RELATION_ID = #{relationId,jdbcType=VARCHAR},
			</if>
			<if test="ruleType != null">
				RULE_TYPE = #{ruleType,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				COUNT = #{count,jdbcType=INTEGER},
			</if>
			<if test="reason != null">
				REASON = #{reason,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null">
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createName != null">
				CREATE_NAME = #{createName,jdbcType=VARCHAR},
			</if>
			<if test="ruleGrad != null">
				RULE_GRAD = #{ruleGrad,jdbcType=VARCHAR},
			</if>
			<if test="ruleFather != null">
				RULE_FATHER = #{ruleFather,jdbcType=VARCHAR},
			</if>
			<if test="ruleChild != null">
				RULE_CHILD = #{ruleChild,jdbcType=VARCHAR},
			</if>
			<if test="source != null">
				SOURCE = #{source,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				IS_DELETED = #{isDeleted,jdbcType=INTEGER},
			</if>
		</set>
		where GUID = #{guid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.portal.bean.JddBaserecord">
		update JDD_BASERECORD
		set RELATION_ID = #{relationId,jdbcType=VARCHAR},
		RULE_TYPE = #{ruleType,jdbcType=INTEGER},
		COUNT = #{count,jdbcType=INTEGER},
		REASON = #{reason,jdbcType=VARCHAR},
		CREATE_BY = #{createBy,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		CREATE_NAME = #{createName,jdbcType=VARCHAR},
		RULE_GRAD = #{ruleGrad,jdbcType=VARCHAR},
		RULE_FATHER = #{ruleFather,jdbcType=VARCHAR},
		RULE_CHILD = #{ruleChild,jdbcType=VARCHAR},
		SOURCE = #{source,jdbcType=VARCHAR},
		IS_DELETED = #{isDeleted,jdbcType=INTEGER}
		where GUID = #{guid,jdbcType=VARCHAR}
	</update>
</mapper>