<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.mapper.SysParameterMapper">
  <resultMap id="BaseResultMap" type="com.portal.bean.SysParameter">
    <id column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="REORDER" jdbcType="INTEGER" property="reorder" />
    <result column="PARAM_VALUE" jdbcType="VARCHAR" property="paramValue" />
    <result column="PARAM_NAME" jdbcType="VARCHAR" property="paramName" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_NAME" jdbcType="VARCHAR" property="createName" />
    <result column="MODIFY_BY" jdbcType="VARCHAR" property="modifyBy" />
    <result column="MODIFY_NAME" jdbcType="VARCHAR" property="modifyName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="CLASS_TYPE" jdbcType="VARCHAR" property="classType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    GUID, REORDER, PARAM_VALUE, PARAM_NAME, REMARKS, STATUS, CREATE_BY, CREATE_TIME, 
    CREATE_NAME, MODIFY_BY, MODIFY_NAME, MODIFY_TIME, CLASS_TYPE
  </sql>
  <select id="selectByExample" parameterType="com.portal.bean.SysParameterExample" resultMap="BaseResultMap">
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_PARAMETER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_PARAMETER
    where GUID = #{guid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByParamName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PARAMETER
    where param_name = #{paramName,jdbcType=VARCHAR}
  </select>
  
   <select id="selectParameterByClassType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_PARAMETER
    where class_type = #{paramName,jdbcType=VARCHAR} and status=0
  </select>

  
  <update id="updateByParamName" parameterType="com.portal.bean.SysParameter" >
    update SYS_PARAMETER
    <set >
      <if test="guid != null" >
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="reorder != null" >
        REORDER = #{reorder,jdbcType=INTEGER},
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null" >
        MODIFY_NAME = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where param_name = #{paramName,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_PARAMETER
    where GUID = #{guid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.portal.bean.SysParameterExample">
    delete from SYS_PARAMETER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.portal.bean.SysParameter">
    insert into SYS_PARAMETER (GUID, REORDER, PARAM_VALUE, 
      PARAM_NAME, REMARKS, STATUS, 
      CREATE_BY, CREATE_TIME, CREATE_NAME, 
      MODIFY_BY, MODIFY_NAME, MODIFY_TIME, 
      CLASS_TYPE)
    values (#{guid,jdbcType=VARCHAR}, #{reorder,jdbcType=INTEGER}, #{paramValue,jdbcType=VARCHAR}, 
      #{paramName,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createName,jdbcType=VARCHAR}, 
      #{modifyBy,jdbcType=VARCHAR}, #{modifyName,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{classType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.portal.bean.SysParameter">
    insert into SYS_PARAMETER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guid != null">
        GUID,
      </if>
      <if test="reorder != null">
        REORDER,
      </if>
      <if test="paramValue != null">
        PARAM_VALUE,
      </if>
      <if test="paramName != null">
        PARAM_NAME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createName != null">
        CREATE_NAME,
      </if>
      <if test="modifyBy != null">
        MODIFY_BY,
      </if>
      <if test="modifyName != null">
        MODIFY_NAME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="classType != null">
        CLASS_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="reorder != null">
        #{reorder,jdbcType=INTEGER},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null">
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null">
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null">
        #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classType != null">
        #{classType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_PARAMETER
    <set>
      <if test="record.guid != null">
        GUID = #{record.guid,jdbcType=VARCHAR},
      </if>
      <if test="record.reorder != null">
        REORDER = #{record.reorder,jdbcType=INTEGER},
      </if>
      <if test="record.paramValue != null">
        PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramName != null">
        PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null">
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createName != null">
        CREATE_NAME = #{record.createName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyBy != null">
        MODIFY_BY = #{record.modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyName != null">
        MODIFY_NAME = #{record.modifyName,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classType != null">
        CLASS_TYPE = #{record.classType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_PARAMETER
    set GUID = #{record.guid,jdbcType=VARCHAR},
      REORDER = #{record.reorder,jdbcType=INTEGER},
      PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      PARAM_NAME = #{record.paramName,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_NAME = #{record.createName,jdbcType=VARCHAR},
      MODIFY_BY = #{record.modifyBy,jdbcType=VARCHAR},
      MODIFY_NAME = #{record.modifyName,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CLASS_TYPE = #{record.classType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.portal.bean.SysParameter">
    update SYS_PARAMETER
    <set>
      <if test="reorder != null">
        REORDER = #{reorder,jdbcType=INTEGER},
      </if>
      <if test="paramValue != null">
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null">
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createName != null">
        CREATE_NAME = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null">
        MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyName != null">
        MODIFY_NAME = #{modifyName,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classType != null">
        CLASS_TYPE = #{classType,jdbcType=VARCHAR},
      </if>
    </set>
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.portal.bean.SysParameter">
    update SYS_PARAMETER
    set REORDER = #{reorder,jdbcType=INTEGER},
      PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_NAME = #{createName,jdbcType=VARCHAR},
      MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      MODIFY_NAME = #{modifyName,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CLASS_TYPE = #{classType,jdbcType=VARCHAR}
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix">
    <if test="limitStart &gt;=0">
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix">
    <if test="limitStart &gt;=0">
      <![CDATA[ ) row_ ) where rownum_ > #{limitStart} and rownum_ <= ${limitStart+limitEnd} ]]>
    </if>
  </sql>
</mapper>